.App {
  text-align: center;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  font-size: 40px;
  color: #2c2c2c;
  text-transform: uppercase;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color {
  color: #000;
  background: #d3d6da;
}

.yellow {
  background: #b59f3b;
  color: #fff;
}

.grey {
  background: #999999;
  color: #fff;
}

.green {
  background: #538d4e;
  color: #fff;
}
